@import "compass/utilities/text/replacement";

@mixin ir($img) {
  @include replace-text-with-dimensions($img);
}

@mixin bg($img) {
  background: image-url($img) top left no-repeat;
}

@mixin submit($img) {
  @include ir($img);
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
